<h2>Add Links one by one or via Excel file</h2>

@Html.ActionLink("Add Single Link", "Create", "Urls", new { campaignId = ViewBag.CampaignId }, new { @class = "btn btn-orange" })
@Html.ActionLink("Add Links From Excel File", "ShortExcel", "Urls", new { campaignId = ViewBag.CampaignId }, new { @class = "btn btn-orange" })