.side-navbar {
    z-index: 1050;
}

.bg-orange {
    background-color: #ff9900 !important;
}

.btn-orange {
    background-color: #ff9900;
    border-color: #ff9900;
}

.btn-orange:hover {
    background-color: #e68a00;
    border-color: #e68a00;
}

.text-orange {
    color: #e68a00;
}

a.text-orange:hover, a.text-orange:focus {
    color: #b36b00 !important;
}