.vs/
UrlShortenerMVC/bin/
UrlShortenerMVC/obj/
UrlShortenerMVC/Properties/
UrlShortenerMVC/UrlShortenerMVC.csproj.user
UrlShortenerNETCore/UrlShortenerNETCore.csproj.user
UrlShortenerNETCore/bin/
UrlShortenerNETCore/obj/
