<footer class="fixed-bottom navbar navbar-light navbar-expand mt-5 bg-orange">
    <div class="container justify-content-end">
        <span>&copy; @DateTime.Now.Year - Short.me</span>
    </div>
</footer>
