<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img class="m-auto" src="~/Content/images/no-charge-icon.png" width="80" height="80" />
                    </div>
                    <h3>Completely Free</h3>
                    <p class="lead mb-0">Get 5000 free shortened links every month as a registered user!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img class="m-auto" src="~/Content/images/excel-file-icon.png" width="80" height="80" />
                    </div>
                    <h3>Excel Shortener</h3>
                    <p class="lead mb-0">Upload an Excel file with links you would like to shorten and get a corresponding file back!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <img class="m-auto" src="~/Content/images/chart-icon.png" width="80" height="80" />
                    </div>
                    <h3>Create Campaigns</h3>
                    <p class="lead mb-0">Keep track of the impact your links have with statistics and charts!</p>
                </div>
            </div>
        </div>
    </div>
</section>