<div class="container">
    <h2>Email confirmed!</h2>
    <div>
        Thank you for confirming your email. Please click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to Log in.
    </div>
</div>

