<div class="container">
    <h4>Reset password notification</h4>
    <div class="form-group">
        Please check your email inbox in order to reset your password. If you haven't received an email,
        please click @Html.ActionLink("here", "ForgotPassword", "Account", null, htmlAttributes: new { @class = "text-orange" })
        so we may send you another one.
    </div>
</div>
	
