<div class="container">
    <h4>Confirm email notification</h4>
    <div class="form-group">
        Your password has been reset. Please click
        @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        to log in.
    </div>
</div>
